.input-group {
  width: 100%;
}

label {
  font-size: 1.3em;
}

// nav link cursor

.nav-links {
  cursor: pointer;
  cursor: hand;
}

// list group item hover

.highlight-hover:hover {
  cursor: pointer;
  cursor: hand;
}
// messages

.message-list-item {
  padding-bottom: 3px;
  margin-bottom: 0px;
}
.conversation-button {
  margin-left: 3em;
}